---

---

<section class="bg-backgroundColor text-white">
  <div
    class="container flex flex-col justify-center p-6 mx-auto sm:py-12 lg:py-24 lg:flex-row lg:justify-between"
  >
    <div
      class="flex flex-col justify-center p-6 text-center rounded-sm lg:max-w-md xl:max-w-[738px] lg:text-left"
    >
      <h1
        class="text-[2rem] font-semibold sm:text-7xl leading-tight lg:leading-tight"
      >
        Tecnologia e <span class="text-primary leading-3">Automação</span> para <span
          class="text-primary">Incubatórios.</span
        >
      </h1>
      <p class="mt-6 mb-8 text-[1rem] sm:mb-12 font-extralight">
        Soluções personalizadas para otimizar a eficiência e rastreabilidade de
        todos os processos de incubação de ovos.
      </p>
      <div
        class="flex flex-row justify-between"
      >
        <a
          rel="noopener noreferrer"
          href="#"
          class="px-2 py-3 text-md font-semibold rounded bg-primary">Contato</a
        >
        <a
          rel="noopener noreferrer"
          href="#"
          class="px-2 py-3 text-md font-semibold border rounded dark:border-gray-100"
          >Equipamentos</a
        >
      </div>
    </div>
    <div class="flex relative">
      <img
        src="/img/pintinhos.png"
        alt=""
        class="z-10 object-cover"
      />
      <div
        class="absolute bg-cover w-[28rem] h-[36rem] bg-orange-600 blur-[2px] left-9 max-md:hidden"
      >
      </div>
    </div>
  </div>
</section>
