---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Equipamentos - LIGA">
  <main class="bg-[#13151a] items-center justify-center text-center h-[100vh]">
    <h1 class="text-white text-9xl">EQUIPAMENTOS</h1>
  </main>
</Layout>
