---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
---

<Layout title="Homepage - LIGA">
  <main class="bg-[#13151a] items-center justify-center text-center h-[100vh]">
    <Hero />
  </main>
</Layout>
