---
import { Icon } from 'astro-icon';
---

<footer class="bg-backgroundColor text-white  pb-4 pt-4">
  <div class="flex flex-col gap-6">
    <div class="flex gap-5 lg:gap-10 justify-center">
      <a href="linkedin.com"><Icon name="mdi:linkedin" class="h-[3rem] lg:h-[4rem]" /></a>
      <a href=""><Icon name="ic:baseline-facebook" class="h-[3rem] lg:h-[4rem]" /></a>
      <a href=""><Icon name="mdi:instagram" class="h-[3rem] lg:h-[4rem]" /></a>
      <a href=""><Icon name="mdi:youtube" class="h-[3rem] lg:h-[4rem]" /></a>
    </div>
    <div class="flex justify-around items-start">
      <div>
        <h2 class="font-bold lg:text-2xl">Ajuda</h2>
        <ul class="flex flex-col gap-2 font-extralight lg:text-xl">
          <li><a href="#">Serviços</a></li>
          <li><a href="#">Contato</a></li>
          <li><a href="#">Home</a></li>
        </ul>
      </div>
      <div class="flex flex-col container w-[50%]">
        <h2 class="font-bold lg:text-2xl">Contato</h2>
        <ul class="flex flex-col font-extralight lg:text-xl">
          <li><a href="#">liga@ligaeq.ind.br</a></li>
          <li><a href="#">+55 49 99828 - 7665</a></li>
          <address>
            <a href="#"
              >Rua Valério Fabiano, nº330, Jardim Alhambra - Dourados/MS</a
            >
          </address>
        </ul>
      </div>
    </div>
    <div class="flex-row justify-center border-t-2 p-3 lg:py-8">
      <span class=""></span>
      <p class="font-extralight text-sm text-center lg:text-xl">
        Copyright 2023 - Liga Automação em Equipamentos Industriais - Todos os Direitos Reservados</p>
    </div>
		
  </div>
</footer>
