<header class="p-4 text-white bg-backgroundColor">
  <div class="container flex justify-between h-16 mx-auto bg-backgroundColor">
    <a
      rel="noopener noreferrer"
      href="/"
      aria-label="Back to homepage"
      class="flex items-center p-2"
    >
      <img class="h-14 w-full" src="liga2.png" alt="" />
    </a>
    <ul class="items-stretch hidden space-x-3 lg:flex">
      <li class="flex">
        <a
          rel="noopener noreferrer"
          href="/"
          class="flex items-center px-4 -mb-1 hover:text-orange-600">Início</a
        >
      </li>
      <li class="flex">
        <a
          rel="noopener noreferrer"
          href="/about"
          class="flex items-center px-4 -mb-1 hover:text-orange-600">Sobre nós</a
        >
      </li>
      <li class="flex">
        <a
          rel="noopener noreferrer"
          href="/#solutions"
          class="flex items-center px-4 -mb-1 hover:text-orange-600 ">Soluções</a
        >
      </li>
      <li class="flex">
        <a
          rel="noopener noreferrer"
          href="/equipments"
          class="flex items-center px-4 -mb-1 hover:text-orange-600"
          >Equipamentos</a
        >
      </li>
    </ul>
    <div class="items-center flex-shrink-0 hidden lg:flex">
      <a class="rounded-full bg-orange-600 hover:bg-orange-600 hover:scale-110 hover:transition p-3 px-7" href="/contact">Contato</a>
    </div>
    <button class="p-4 lg:hidden">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>
  </div>
</header>